{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
