@charset "UTF-8";
body{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: YuGothicM, YuGothic, Meiryo; 
}

.container{
  position: relative;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

.menu{
  position: absolute;
  width: 170px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  box-shadow: 1px 0px 4px 0px silver;
  z-index: 10;
}

.menu-list{
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

.button{
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
  text-decoration: none;
  border-bottom: 1px dashed silver;
  box-sizing: border-box;
  transition: font-size 200ms;
}

.button:active{
  background-color: transparent;
}

.button.selected{
  background-color: silver;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.main{
  display: flex;
  position: relative;
  width: calc(100% - 170px);
  height: 100%;
  margin-left: 170px;
  box-sizing: border-box;
  padding: 40px;
}

.mascot{
  position: relative;
  width: 150px;
}

.mascot-img{
  position: absolute;
  width: 130px;
  height: 200px;
  bottom: 0;
  left: 0;
}

.content{
  width: 400px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px 1px silver;
  border-radius: 8px;
}
