@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    width: 800px;
    height: 480px;
    grid-template-rows: 480px;
    grid-template-columns: 320px 1fr;
    background-color: greenyellow;
}

.left{
    position: relative;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 20px 10px 20px 20px;
}

.right{
    position: relative;
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 20px 20px 20px 10px;
}