@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: grid;
    width: 800px;
    height: 480px;
    grid-template-rows: 480px;
    grid-template-columns: 320px 1fr;
    background-color: greenyellow;
}

.left{
    position: relative;
    box-sizing: border-box;
    padding: 20px 10px 20px 20px;
}

.right{
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 20px 10px;
}

.img_cat{
    width: 100%;
    height: 100%;
}

.baloon1{
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #787878;
    margin-left: 15px;
    height: 55%;
    box-sizing: border-box;
    font-size: 30px
}

.baloon1::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    z-index: 2;
}

.baloon1::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -38px;
    margin-top: -17px;
    border: 17px solid transparent;
    border-right: 18px solid #787878;
    z-index: 1;
}

.flex-box{
    display: flex;
}


.baloon2{
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 3px #787878;
    height: 100%;
    width: 100%;
}

.baloon3{
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #787878;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.button{
    display: block;
    text-decoration: none;
    color: #787878;
    width: 50%;
    height: 35%;
    margin: 10px 5px 0px 15px;
}

.upper-message{
    font-size: 15px;
}

.lower-message{
    font-size: 20px;
}

div{
    color: #787878;
}

.messsage-user{
    font-size: 20px;
}
