@charset "utf-8";
.header {
  display: table;
  width: 100%;
  height: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 4px solid silver;
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
}

.header > li {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.header > li > span {
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  align-items: center;
}

.active {
  color: #ea0032;
}

.disabled {
  color: lightgray;
}
