@charset "UTF-8";
body{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: YuGothicM, YuGothic, Meiryo; 
}

.container{
  position: relative;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

.menu{
  position: absolute;
  width: 170px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  box-shadow: 1px 0px 4px 0px silver;
  z-index: 10;
}

.menu-list{
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

.button{
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: gray;
  background: transparent;
  border: none;
  border-bottom: 1px dashed silver;
  box-sizing: border-box;
  transition: font-size 200ms;
}

button:focus{
  outline: none;
}

button:active{
  border: none;
}

.button.selected{
  background-color: silver;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.main{
  display: flex;
  position: relative;
  width: calc(100% - 170px);
  height: 100%;
  background-color: lightgreen;
  margin-left: 170px;
  box-sizing: border-box;
  padding: 40px;
}

.mascot{
  position: relative;
  width: 150px;
}

.mascot-img{
  position: absolute;
  width: 110px;
  height: 200px;
  bottom: 0;
  left: 0;
}

.content{
  position: relative;
  width: 400px;
  height: 100%;
  background-color: white;
  color: gray;
  border-radius: 8px;
  box-sizing: border-box;
  border: 4px solid silver;
}

.content::before{
  content: '';
  position: absolute;
  top: 65%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #FFFFFF;
  z-index: 2;

}

.content::after{
  content: '';
  position: absolute;
  top: 65%;
  left: -38px;
  margin-top: -17px;
  border: 17px solid transparent;
  border-right: 18px solid silver;
  z-index: 1;
}

.wrap-content{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content-button-area{
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.single-button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: silver;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.double-button{
  height: 100%;
  width: 100%;
  display: flex;
}

.back-button{
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;
}

.next-button{
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  background-color: lightgreen;
  color: gray;
  font-weight: bold;
}

.hidden{
  display: none;
}

.content-button-area{
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.single-button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: silver;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.purpose-area{
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid gray;
  box-sizing: border-box;
}

/* .purpose{
  position: relative;
  border: 1px solid gray;
  box-sizing: border-box;
} */

.message{
  display: flex;
  position: absolute;
  width: 140px;
  height: 70px;
  left: calc(50% - 70px);
  top: calc(50% - 35px);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
  background-color: white;
  border-radius: 35px;
  border: 4px solid gray;
}

/* 目的 */
.study_meeting{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #F8F189;
}

.job{
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  background-color:#BBFEFF;
}

.self_learning{
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    background-color: #BCF3CB;
}

.circle{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    background-color: #F4D8F5;
}

.select-button{
  width: 100%;
  color: gray;
  margin: 0;
  padding: 0;
  font-size: 28px;
  border: 2px solid gray;
  box-sizing: border-box;
  font-weight: bold;
}
