@charset "UTF-8";
body{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: YuGothicM, YuGothic, Meiryo; 
}

.container{
  position: relative;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

.menu{
  position: absolute;
  width: 170px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  box-shadow: 1px 0px 4px 0px silver;
  z-index: 10;
}

.menu-list{
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

.button{
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: gray;
  background: transparent;
  border: none;
  border-bottom: 1px dashed silver;
  box-sizing: border-box;
  transition: font-size 200ms;
}

button:focus{
  outline: none;
}

button:active{
  border: none;
}

.button.selected{
  background-color: silver;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.main{
  display: flex;
  position: relative;
  width: calc(100% - 170px);
  height: 100%;
  background-color: lightgreen;
  margin-left: 170px;
  box-sizing: border-box;
  padding: 40px;
}

.mascot{
  position: relative;
  width: 150px;
}

.mascot-img{
  position: absolute;
  width: 110px;
  height: 200px;
  bottom: 0;
  left: 0;
}

.content{
  position: relative;
  width: 400px;
  height: 100%;
  background-color: white;
  color: gray;
  border-radius: 8px;
  box-sizing: border-box;
  border: 4px solid silver;
}

.content::before{
  content: '';
  position: absolute;
  top: 65%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #FFFFFF;
  z-index: 2;

}

.content::after{
  content: '';
  position: absolute;
  top: 65%;
  left: -38px;
  margin-top: -17px;
  border: 17px solid transparent;
  border-right: 18px solid silver;
  z-index: 1;
}

.wrap-content{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content-button-area{
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.single-button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: silver;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.double-button{
  height: 100%;
  width: 100%;
  display: flex;
}

.back-button{
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  border-radius: 0 0 4px 0;
  background-color: #00bcd4;
  color: white;
  font-weight: bold;
}

.next-button{
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  border-radius: 0 0 4px 0;
  background-color: orange;
  color: white;
  font-weight: bold;
}

.cancel-button{
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  border-radius: 0 0 0 4px;
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;  
}

.hidden{
  display: none;
}

.content-button-area{
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.single-button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: silver;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.top{
  position: relative;
  height: calc(100% - 75px);
}

.content-header{
  display: table;
  width: 100%;
  height: 52px;
  list-style-type: none;
  border-bottom: 4px solid silver;
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
}

.content-header > li{
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content-header > li > span{
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  align-items: center;
}

.active{
  color: red;
}

.disabled{
  color: lightgray;
}

.input-area{
  position: relative;
  height: calc(100% - 52px);
  padding: 8px;
  box-sizing: border-box;
}

.input-title{
  display: flex;
  height: 30px;
  font-size: 18px;
  margin: 0;
  align-items: center;
  text-align: center;
}

.input-wrap{
  position: relative;
  height: calc(100% - 30px);
  padding: 0px 5px;
  box-sizing: border-box;
}

.input-wrap > div{
  position: relative;
}

.input-name-area{
  height: 35%;
}

.label-name{
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input-name{
  height: 60%;
  width: 100%;
  padding: 10px 20px;
  font-size: 24px;
}

.input-email-area{
  height: 65%;
}

.label-email{
  display: flex;
  height: 34%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input-email{
  width: 100%;
  height: 33%;
  padding: 10px 20px;
  font-size: 24px; 
}

.domain{
  height: 33%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scan-text{
  position: relative;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.success{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}

.error{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 30px;  
}
