@charset "utf-8";
.container {
  position: relative;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

.contentArea {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: gray;
  background: whitesmoke;
  opacity: 0.5;
}
