@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: grid;
    width: 800px;
    height: 480px;
    grid-template-rows: 480px;
    grid-template-columns: 320px 1fr;
    background-color: greenyellow;
}

.left{
    position: relative;
    box-sizing: border-box;
    padding: 20px 10px 20px 20px;
}

.right{
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 20px 10px;
}

.img_cat{
    width: 100%;
    height: calc(50% - 20px);
}

.baloon{
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #787878;
    margin-left: 15px;
    height: calc(100% - 40px);
    box-sizing: border-box;
}

.baloon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    z-index: 2;
}

.baloon::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -38px;
    margin-top: -18px;
    border: 17px solid transparent;
    border-right: 18px solid #787878;
    z-index: 1;
}

.baloon2{
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #787878;
    margin-bottom: 15px;
    height: calc(50% - 15px);
    box-sizing: border-box;
    font-size: 20px;
}

.baloon2::before{
    content: "";
    position: absolute;
    right: 50%;
    bottom: -12px;
    margin-bottom: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #FFFFFF;
    z-index: 2;
}

.baloon2::after{
    content: "";
    position: absolute;
    right: 50%;
    bottom: -15px;
    margin-bottom: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #787878;
    z-index: 1;
}

.message{
    font-size: 25px;
  }

.message2{
    font-size: 30px;
    position: absolute;
}

div{
    color: #787878;
}

.back{
    background: #ffffff;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    border: solid 3px #787878;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 30%;
}

.arrow{
    width: 80px;
    height: 30px;
    background: red;
    position: relative;
    left: 15%;
    top: 25%;
}

.arrow::after{
    content: "";
    border: 25px solid transparent;
    border-left: 40px solid red;
    position: absolute;
    right: -50;
    top: -10;
}

input.name{
    height: 30px;
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
}

input.email{
    height: 30px;
    width: 70%;
    font-size: 25px;
    vertical-align: middle;
}

